.cartCon {
    width: 264px;
    padding: 24px;
    min-height: 307px;
    border-radius: 12px;
    background-color: white;
}

.remainingCon {

    padding: 0 0 16px 0;
    border-bottom: 1px solid rgba(28, 27, 27, 0.20);

}

.remainingCon h1 {
    font-size: 18px;
    color: #2F80ED;
    font-family: Inter;
    font-weight: 700;
}

.course {
    margin: 16px 0 21px 0;
}

.course h1 {
    color: #1C1B1B;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.myCourses {
    padding: 0 0 24px 0;
    min-height: 90px;

}

.myCourses p {
    color: rgba(28, 27, 27, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.creditCon {
    padding: 16px 0;
    border-bottom: 1px solid rgba(28, 27, 27, 0.20);
    border-top: 1px solid rgba(28, 27, 27, 0.20);
}

.creditCon h2 {
    color: rgba(28, 27, 27, 0.80);
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.totalCon h1 {
    color: rgba(28, 27, 27, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0 0 0;

}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .cartCon{
      width: 608px;
      margin: auto;
    }
}